html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background: linear-gradient(#000 60%, #777);
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
}

.hidden {
	display: none;
}

.teams, .scores {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.teams > div {
	flex: 1;
	text-align: center;
	font-size: 9vw;
}

.scores > div {
	width: 31vw;
	height: 20vw;
	line-height: 20vw;
	border-radius: 3vw;
	background: #ddd;
	color: black;
	text-align: center;
	font-size: 20vw;
	letter-spacing: -1.5vw;
	text-indent: -1.5vw;
}

.game-state {
	margin-top: 5vw;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.game-state > div {
	width: 40vw;
	border-radius: 2vw;
	overflow: hidden;
}

.info {
	padding: .2vw 0 .8vw;
	font-size: 5vw;
	text-align: center;
	background: linear-gradient(#444, #222);
}

.time {
	font-size: 10vw;
	height: 10vw;
	line-height: 10vw;
	text-align: center;
	background: #ddd;
	color: black;
}

.scores div, #now, #jamclock[contenteditable=false], #period {
	cursor: pointer;
}

#help {
	position: absolute;
	inset: 0;
	padding: 1em;
	background: #000;
}
#help table {
	border-collapse: collapse;
}
#help td, #help th {
	border: 1px solid #999;
	padding: 3px;
}
th {
	vertical-align: top;
}