html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:0;
	background:linear-gradient(#000 60%, #777);
	color:#fff;
	font-family:Helvetica, sans-serif;
	font-weight:100;
}

.hidden {
	display: none;
}

.teams, .scores {
	display:flex;
	width:100%;
	justify-content: space-around;
}

.teams div {
	flex:1;
}

.scores div {
	width: 31vw;
	border-radius: 5vw;
	background: #ddd;
	color: black;
}

.teams div, .scores div, .time {
	text-align:center;
}

.scores {
	margin-bottom:.1em;
	font-size:20vw;
	letter-spacing:-1.5vw;
	text-indent:-1.5vw;
}

.info {
	float:left;
	width:66.6%;
	text-align:right;
}

.teams {
	font-size:9vw;
}
.info, .time {
	font-size:7vw;
}

.scores div, #now, #jamclock[contenteditable=false], #period {
	cursor:pointer;
}

#help {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:1em;
	background:#000;
}
#help table {
	border-collapse:collapse;
}
#help td, #help th {
	border:1px solid #999;
	padding:3px;
}
th {
	vertical-align:top;
}