<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="shortcut icon" type="image/png" href="{{ '/assets/images/asontu.png' | relative_url }}">
{% seo %}
	</head>

	<body>
		<input type="checkbox" id="invert" hidden>
		<script>
			var lightMode = localStorage.getItem('lightMode');
			document.getElementById('invert').checked = lightMode === 'true';
			document.getElementById('invert').onchange = function() {
				localStorage.setItem('lightMode', this.checked);
			}
			window.addEventListener('DOMContentLoaded', (event) => {
				Array.from(document.querySelectorAll('label[for]')).forEach(label => {
					label.addEventListener('keydown', e => {
						// 32 === spacebar
						// 13 === enter
						if (e.which === 32 || e.which === 13) {
							e.preventDefault();
							label.click();
						}
					});
				});
			});
		</script>
		<div class="bg">
			<div class="wrapper">
				<header>
					<div class="container">
						<h1 id="page-title">
							<a id="a-title" href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a>
							<span id="sun-moon"></span>
							<label for="invert" title="Toggle dark-mode" tabindex="0"></label>
						</h1>
						
						<div class="profile-card">
							<input type="checkbox" id="collapsible" hidden>
							<h3><label for="collapsible" tabindex="0">About me</label></h3>
							<div id="collapseme">
								<p>
									<strong>Herman Scheele</strong><br>
									.NET, C#, Sitecore developer and Data Science engineer @ <a href="https://www.tfe.nl">theFactor.e</a>.
								</p>
								<a href="https://twitter.com/intent/tweet?screen_name=funkwurm&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @funkwurm</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								<a href="https://stackoverflow.com/users/2684660/asontu" id="stackoverflair"><img src="https://stackoverflow.com/users/flair/2684660.png?theme=dark" width="208" height="58" alt="profile for asontu at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for asontu at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
							</div>
						</div>
						<h2>{{ site.description | default: site.github.project_tagline }}</h2>
{% comment %}
						<section id="downloads">
							{% if site.show_downloads %}
								<a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
								<a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
							{% endif %}
							<a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
						</section>
{% endcomment %}
					</div>
				</header>
		
				<div class="container">
					{{ content }}
				</div>
			</div>
			
			<footer>
				<div class="container">
					Powered by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>, <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>, <a href="https://staticman.net/" target="_blank">Staticman</a>, <a href="https://www.heroku.com/" target="_blank">Heroku</a>, themes <a href="https://pages-themes.github.io/hacker/" target="_blank">hacker</a> &amp; <a href="https://jekyll-themes.com/leaf/" target="_blank">leaf</a>.
				</div>
			</footer>
		</div>
		<script> </script>
		{% if site.google_analytics %}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '{{ site.google_analytics }}', 'auto');
				ga('send', 'pageview');
			</script>
		{% endif %}
	</body>
</html>
