---
layout: default
---

<section id="main_content">
	<small>{{ page.date | date: "%-d %B %Y" }}</small>
	<h2>{{ page.title }}</h2>
	
	{{content}}
	
{%	if page.tags
%}{%	capture tags_html
%}			<small class="tags">tags:
{%				for tag in page.tags
%}					<a href="/tags/{{ tag | replace: '#', '-sharp' }}"><em>{{ tag | capitalize }}</em></a> - 
{%				endfor
%}			</small>
{%		endcapture
%}		{{ tags_html | normalize_whitespace | replace: ' - </small>', '</small>' }}
{%	endif
%}
{%	if page.previous or page.next
%}		<div class="pagination">
{%			if page.next
%}				<a href="{{ page.next.url }}" class="previous" title="{{ page.next.title }}"></a>
{%			else
%}				<span class="previous"></span>
{%			endif
%}{%		if page.previous
%}				<a href="{{ page.previous.url }}" class="next" title="{{ page.previous.title }}"></a>
{%			else
%}				<span class="next"></span>
{%			endif
%}			<div class="excerpt"{%
			if page.previous %}
				data-next-title="{{ page.previous.title | escape | strip }}" data-next-excerpt="{{ page.previous.excerpt | strip_html | escape | strip }}"{%
			endif
%}{%		if page.next %}
				data-prev-title="{{ page.next.title | escape | strip }}" data-prev-excerpt="{{ page.next.excerpt | strip_html | escape | strip }}"{%
			endif
%}></div>
		</div>
{%	endif
%}</section>

{% include comments.html %}