---
layout: default
---

<section id="main_content">
	<small>{{ page.date | date: "%-d %B %Y" }}</small>
	<h2>{{ page.title }}</h2>
	
	{{content}}
	
{%	if page.tags
%}{%	capture tags_html
%}			<small class="tags">tags:
{%				for tag in page.tags
%}					<a href="/tags/{{ tag | replace: '#', '-sharp' }}"><em>{{ tag | capitalize }}</em></a> - 
{%				endfor
%}			</small>
{%		endcapture
%}		{{ tags_html | normalize_whitespace | replace: ' - </small>', '</small>' }}
{%	endif
%}</section>

{% include comments.html %}